/* FONDO ÚTIL*/
.papa{
    position: absolute;
    margin-left: 250px;
    margin-right: 250px;
    width: 1000px; 
    height: 100%;
}

/* ENCABEZADO */
.img_libreria{
    position: absolute;
    top:0px;
    bottom:0px ;
    width: 1000px;
    height: 500px;
    z-index: 0;

}

.cuadrado{
    position: absolute;
    width:500px;
    height:200px;
    top:130px;
    left: 250px;
    z-index: 1;
    border: 5px solid #F6ECE1;  
    opacity: 0.70;
    margin: auto;
    text-align: center;
}

#titulo_en_imagen{
    position: absolute;
    left: 50px;
    top:-5px;
    width: 400px;
    height: 165px;
    background-color: #F6ECE1;
    text-align: center;
    z-index: 3;
    font-size: 30px;
    color: black;

}

/* MENÚ */
.menu{
    position: absolute;
    left: 440px;
    top:472px;
}

.boton{
  background-color: #9BC0CF;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}


/* CUESTIONARIO */
.contacta{
	position: absolute;
	width: 500px;
	left: 245px;
	top:550px;


	font-size: 15px; 
	color:#F6ECE1;
	letter-spacing: 1.2px;

	background-color: #405561 ;
	padding: 10px 15px;
}

#mail{
  width: 475px;
  height: 20px;
}

#nombre{
  width: 475px;
  height: 20px;
}

#apellido{
  width: 475px;
  height: 20px;
}


#asunto{
  width: 475px;
  height: 20px;
}

#contenido{
  width: 475px;
  height: 250px;
}

/* PIE DE PÁGINA */
.hueco{
    font-size: 18px;
    color:  #F6ECE1;
    padding: 15px 30px;
}

.pie{
    position: relative;
    text-align: center;
    top:1300px;
    font-size: 18px;
    padding: 10px 30px;
    background-color: #9BC0CF;
    width: 350px;
    left:300px;
}

#hueco_final{
    position: relative;
    top: 75px;
}