

#dia{

	background-color: #4A1942;
	color: #FBEFE8;
	font-size: 25px;
	padding: 15px 30px;

}

.hora{

	background-color: #4A1942;
	font-size: 18px;
	color: #FBEFE8;
	padding: 15px 30px
}

.edad30{
	background-color: #C1DFB7;
	font-size: 18px;
	color: #5A0609;
	padding: 15px 30px
}

.edad18{
	background-color: #F1E8AC;
	font-size: 18px;
	color: #5A0609;
	padding: 15px 30px	
}

.edad10{
	background-color: #E1D1E2;
	font-size: 18px;
	color: #5A0609;
	padding: 15px 30px
}

.edad5{
	background-color: #B4D1D9;
	font-size: 18px;
	color: #5A0609;
	padding: 15px 30px
}
.none{
	border: 1px solid #4A1942;

}

.hueco{
	background-color: white;
	font-size: 18px;
	color: white;
	padding: 15px 30px
}